//
// Print Styles
// These are all the includes for the pages when printed
// --------------------------------------------------

// These styles are all legacy SEC.gov - have not been updated for insider

@import 'general/vars';
@import 'general/mixins';
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: $charcoal;
    text-decoration: underline !important;
    &[href]:after {
      content: " URL: (" attr(href) ")";
      display: inline-block;
      border: 1px dotted #5d5d5d;
      color: #5d5d5d;
      font-weight: normal;
      margin-left: 5px;
      font-size: 12px;
      line-height: 1.5em;
    }
    //exceptions to showing URL after
    &.site-logo:after, #main-menu &:after, .pager &:after{
      content: '';
      display: none;
    }

  }
  
  img{
    max-width: 600px;
  }


  .container {
    width: 100%;
    float: left;
    clear: both;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    direction: ltr;
    height: 100%;
    padding-bottom: 54px;

    footer.sitefooter, #block-headerlinks, #block-searchblock, .left-nav-menu { display: none;  }
    // [role="banner"]{ display: none;  }

    #sidebar-first, .back-to-top, #edit-actions { display: none !important; }

    #content-wrapper {
      width: 100%;
      float: left;
      margin-right: 0;
      display: block;
      font-size: 1em;
      margin-right: 0px;
      height: inherit;
    }

    #sidebar-second, .columns-1, .columns-2, .columns-3,
    .panel-2col .panel-col-top,
    .panel-2col .panel-col-first, .panel-2col .panel-col-last  {
      clear: both;
      display: block;
      float: none;
      margin: 10px 0;
      width: 100% !important;
    }
  }

  .ui-tabs-panel {
    display: block;
    border: 1px solid $border-color;
    min-height: 315p  x;
    padding: 1em 1.4em;
    background: none;

    .columns-1 {
      clear: both;
      display: block;
      float: none !important;
      margin: 0;
      width: 100%;

      img {
        display: inline-block;
        margin-right: 10px;
        width: 40px;
      }

      br { display: none; }
    }
  }

  #appsIconsList, .appIconsDetail, #panels-ipe-tray, .ipe-tab-wrapper, .ipe-tabs, .ipe-tab {
    display: none !important;
    visibility: hidden;
  }

  .hide-for-print {
    display: none;
    visibility: hidden;
  }

  .video-embed-field-responsive-video, .embed-youtube {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  table{
    th{
      color: #273a56 !important;
      background-color: transparent;
    }
    thead th.sorting:after,
    thead th.sorting_desc:after,
    thead th.sorting_asc:after{
      content: '' !important;
    }

  }

  button, .button, #panels-ipe-tray .ipe-tabs-content a.panelizer-ipe-save-custom{
    color: #273a56 !important;
    border: 2px solid #273a56;
  }

}
