<a name="alerts"></a>

<h3 class="simple-styleguide--sectionhead">{{ default_pattern }}</h3>

<div class="simple-styleguide">

  <div class="alert-box clearfix">
    <div class="alert-box-contain">
      <div class="info promote">
        <div class="alert-title">Status message</div>
        <div class="alert-body">This is the status message.</div>
      </div>
    </div>
  </div>
  <div class="alert-box clearfix">
    <div class="alert-box-contain">
      <div class="warning promote">
        <div class="alert-title">Warning message</div>
        <div class="alert-body">This is the warning message.</div>
      </div>
    </div>
  </div>
  <div class="alert-box clearfix">
    <div class="alert-box-contain">
      <div class="critical promote">
        <div class="alert-title">Critical message</div>
        <div class="alert-body">This is the criticals message.</div>
      </div>
    </div>
  </div>

  <div class="simple-styleguide--pattern">
    <a class="simple-styleguide--view-sourecode alert-styles">View Source</a>
    <pre>{{'
      <div class="alert-box clearfix">
        <div class="alert-box-contain">
          <div class="info promote">
            <div class="alert-title">Status message</div>
            <div class="alert-body">This is the status message.</div>
          </div>
        </div>
      </div>
      <div class="alert-box clearfix">
        <div class="alert-box-contain">
          <div class="warning promote">
            <div class="alert-title">Warning message</div>
            <div class="alert-body">This is the warning message.</div>
          </div>
        </div>
      </div>
      <div class="alert-box clearfix">
        <div class="alert-box-contain">
          <div class="critical promote">
            <div class="alert-title">Critical message</div>
            <div class="alert-body">This is the criticals message.</div>
          </div>
        </div>
      </div>'|escape}}
    </pre>
  </div>
</div>
