//
// Style Guide
// 
// Alterations to the style guide created by the Simple Style Guide Module
// --------------------------------------------------

.simple-styleguide--site-styles .simple-styleguide--color--block{
  border: 1px solid #e3e3e3;
}

.simple-styleguide--color--swatch--class,
.simple-styleguide--color--swatch--values,
.simple-styleguide--color--swatch--usage,
.simple-styleguide .calculate .info{
  font-size: 12px;
}

.simple-styleguide--site-styles .simple-styleguide code {
    color: #3c3c3c;
}