<div class="mobile-extras" >
  {{ drupal_entity('block', 'searchblock') }}
  <div class="mobile-headerlinks">
    {{ drupal_entity('block', 'insiderusernameblock') }}
    {{ drupal_entity('block', 'headerlinks') }}
  </div>
</div>
